
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.wrapper {
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: #ebebeb;
  color: #222222;
}

.text {
  width: 30vw;
}

.notice {
  font-size: 2vw;
  margin: 0 0 1vw 0;
}

.number {
  font-size: 6vw;
}
